
.monospace
{
    font-family: monospace;
}

 *{
     /* background-color: rgb(0, 0, 0);  */
    color:white;
   
    margin:0;
    /*
		       padding:100;
		       height:auto;
   */
}
.szescdziesiat
{
    width: 70%;
}
.czarny
{
    color:rgb(255, 255, 255);
    background: none;
    letter-spacing: 2px;
    font-size: 400%;
    text-shadow: #000000;
    /* transform: translate(-50%,-50%); */
}
.kolor
{
    color: aliceblue;
    text-decoration: wavy;
    font-family: monospace;
  font-size: 400%;
}
/*header*/
/*header
{
    background: linear-gradient(to right, rgb(240, 236, 236) 0%, rgb(2, 2, 3) 100%);
text-align: center;
font-size: 400%;
}
*/
.header-img
{
    position: relative;
    height: 772px;
    background-image: url("../images/landing.gif");
    background-size: cover;
    background-position: 0 50%;
    background-repeat: no-repeat;
    position: relative;
  background-blend-mode: screen;
  /* background-color: rgba(29, 41, 67, 0.66); */
}
.header-pudlo-pasek{background-size: cover;
    background-position: 0 50%;
    background-repeat: no-repeat;
    position: relative;
  background-blend-mode: screen;
  background-color: rgba(161, 130, 15, 0.66);
}
.header-img::before {
  background-color: rgba(196, 157, 84, 0.25);
  display: block;
  content: '';
  position: absolute;
  height: inherit;
  width: inherit;
}
.header-tekst
{
    font-family:initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    font-size: 230%;
    text-align: center;
    background: none;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  background-blend-mode: screen;
  background-color: rgba(29, 41, 67, 0.66);

    /* background: linear-gradient(to right, rgb(240, 236, 236) 0%, rgb(2, 2, 3) 100%); */
}
.header-tekst h1
{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 100%;
    text-shadow: #000000;
    
}
.header-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), 3)
}
/*header-end*/
/*nav{ 
    text-align: center;
    font-size: 200%;
    font-family: monospace;
}
*/
.duzy-nav-pudlo
{
    position: relative;
    background-size: cover;
    background-color: rgb(0, 0, 0);
}
.gruba{font-weight:bolder;}
.wieksze{font-size: larger;text-align: center;}
.podkreslenie{ text-decoration: underline;}
/*MAIN POCZATEK*/
.sekcja2-ogol
{
    background-color: black;
}

/* MAIN KONIEC */

aside
{
    /*
  display: block;
  background-color: lightgray;
  float: right;
  width: 100%;
*/
  background-color: rgb(24, 24, 24);
  width: 30%;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #e0e0e0;
  font-style: italic;
  color: #000000;
  background-color: rgb(0, 0, 0);
}
aside > body{
    margin: 0.5rem;
}
.czarnynapis
{
    color: black;
}
/*
  #container {
    min-height:100%;
    position:relative;
}
#middle {
    padding:10px;
    padding-bottom:60px;	
}
#footer {
    position:absolute;
    bottom:10px;
    width:100%;
    height:5px;		
    background:#bfcac0;
}
*/
.okrag{ border-radius: 50px;}
footer
{
    text-align: center;
    background-color: darkgrey;
    text-decoration: underline;
    width: 100%;
}

.nav
{
    height: 50px;
    background-color: black;
    text-align: center;
    line-height: 50px;
    font-size: 200%;
    font-family: monospace;
}
.nav-item
{
display: inline-block;
}
.hajeden
{
    background: linear-gradient(to bottom,rgb(46, 44, 44) 20%,black 80%);
text-align: center;
font-size: 100%;
}
.p{
    width: 600px;
    height: 380px;
    background-image: url("../images/landing.gif");
}
.pudlo-male1{
    display: inline-block;
    width: 192px;
    height: 340px;
    /* background-color: rgb(16, 19, 19); */
    padding: 5px;
     border: 1px solid black; 
    margin: 2px 2px 2px 2px;
    
}
.pudlo-male2{
    display: inline-block;
    width: 192px;
    height: 340px;
    background-color: rgb(16, 19, 19);
    padding: 5px;
    border: 2px solid black;
    margin: 2px 2px 2px 2px;
   
}
.pudlo
{
    width: 430px;
    height: 380px;
    background-color: rgb(16, 19, 19);
    padding: 0px;
    border: 2px solid black;
    margin: 2px 2px 2px 2px;
    text-align:  right;
    box-align: right;
    background-image: url("../images/img2.jpg");
}
.pudlo-lista
{
    width: 430px;
    height: 160px;
    background-color:black;
    padding: 0px;
    border: 2px solid black;
    margin: 2px 2px 2px 2px;
    text-align:  right;
    box-align: right;
}
.urania{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 150%;text-align: center;}
.postepy{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;text-decoration: overline;}
.astronatyka-align{text-align: left;}
.srodek-tekst{text-align: center;}
